<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random</title>
  </head> -->

  <!-- include the head template like below so we dont need to keep copying the CDN's etc-->
  <%- include('partials/head') %> 

  <body>
    <%- include('partials/navbar') %> 
    <div class="container">
      <!-- could do, but wanna do too much js logic in this file -->
      <!-- "<%=  %>" allows you to do js logic and the result be visibly rendered in the html -->
      <h1>Your random number is: <%= Math.floor(Math.random() * 10)+1 %></h1>
      <!-- rand defined in index.js -->
      <h1>Your random number is: <%= rando %></h1>

      <!-- "<%  %> " allows you to do js logic that doesnt show up in the file -->
      <!-- this codeblock runs a simple if statement with html in it -->
      <% if (rando % 2 === 0) { %>
      <h2>That is an even number</h2>
      <% } else { %>
      <h2>That is an odd number</h2>
      <% } %>

      <!-- this js is called a ternary operator -->
      <h3>That number is: <%= rando % 2 === 0 ? "EVEN" : "ODD" %></h3>
    </div>
    
  </body>
</html>
